.easy-icon-shirt-number-component {
  @include textShadow(black, 1);
  position: relative;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-weight: 900;
  font-size: 1.5rem;
  // -webkit-text-stroke: 1px var(--text-color);
  overflow: hidden;

  &.size-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }

  &.size-md {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  &.size-lg {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }

  &.size-xl {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }

  &.color-red {
    // background-color: var(--shirt-red) !important;
    border-color: var(--shirt-red-dark) !important;

    &:after {
      background-color: var(--shirt-red) !important;
    }
  }

  &.color-orange {
    // background-color: var(--shirt-orange) !important;
    border-color: var(--shirt-orange-dark) !important;

    &:after {
      background-color: var(--shirt-orange) !important;
    }
  }

  &.color-yellow {
    // background-color: var(--shirt-yellow) !important;
    border-color: var(--shirt-yellow-dark) !important;

    &:after {
      background-color: var(--shirt-yellow) !important;
    }
  }

  &.color-green {
    // background-color: var(--shirt-green) !important;
    border-color: var(--shirt-green-dark) !important;

    &:after {
      background-color: var(--shirt-green) !important;
    }
  }

  &.color-blue {
    // background-color: var(--shirt-blue) !important;
    border-color: var(--shirt-blue-dark) !important;

    &:after {
      background-color: var(--shirt-blue) !important;
    }
  }

  &.color-purple {
    // background-color: var(--shirt-purple) !important;
    border-color: var(--shirt-purple-dark) !important;

    &:after {
      background-color: var(--shirt-purple) !important;
    }
  }

  &.color-pink {
    // background-color: var(--shirt-pink) !important;
    border-color: var(--shirt-pink-dark) !important;

    &:after {
      background-color: var(--shirt-pink) !important;
    }
  }

  &.color-brown {
    // background-color: var(--shirt-brown) !important;
    border-color: var(--shirt-brown-dark) !important;

    &:after {
      background-color: var(--shirt-brown) !important;
    }
  }

  &.color-gray {
    // background-color: var(--shirt-gray) !important;
    border-color: var(--shirt-gray-dark) !important;

    &:after {
      background-color: var(--shirt-gray) !important;
    }
  }

  &.color-black {
    // background-color: var(--shirt-black) !important;
    border-color: var(--shirt-black) !important;

    &:after {
      background-color: var(--shirt-black) !important;
    }
  }

  &.color-white {
    @include textShadow(black, 0);
    // background-color: var(--shirt-white) !important;
    border-color: var(--shirt-white) !important;
    color: black !important;

    &:after {
      background-color: var(--shirt-white) !important;
    }
  }

  &.is-icon {
    border: solid 1px var(--text-color);
    padding: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color);

    &.size-sm {
      padding: 0.3rem;
      font-size: 0.7rem;
    }

    &.size-md {
      padding: 0.5rem;
      font-size: 1rem;
    }

    &.size-lg {
      padding: 0.5rem;
      font-size: 1.75rem;
    }

    &.size-xl {
      padding: 1rem;
      font-size: 2.25rem;
    }
  }
}
