.easy-coach-current-games-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .game {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: var(--border-radius);
    font-size: 1.5rem;

    .name {
      margin-bottom: 0.5rem;
    }

    .actions {
      .action {
        min-width: 125px;

        &:hover {
          background-color: var(--primary-color-light);
        }

        &.p-button-warning {
          &:hover {
            background-color: var(--tertiary-color-light);
          }
        }
      }
    }
  }
}
