.easy-auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  max-width: 650px;
  margin: 0 auto 0;
  // box-shadow: var(--box-shadow);
  // padding: 4rem 2rem 7rem;
  background: var(--background-color);
  border-radius: var(--border-radius);

  .easy-form-component {
    width: 100%;
    max-width: 450px;
  }

  .p-inputtext {
    width: 100%;
    margin-top: 0.25rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
