.easy-auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;

  .p-inputtext {
    width: 100%;
    margin-top: 0.25rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
