.easy-game-call-sidebar-component,
.easy-game-rotation-sidebar-component {
  position: relative;
  box-shadow: var(--box-shadow-hard);
  padding: var(--app-margin);
  border-radius: var(--border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .easy-game-call-status-component,
  .easy-game-rotation-status-component {
    .unlock-button {
      position: absolute;
      top: calc(var(--app-margin) + 4px);
      right: calc(var(--app-margin) + 42px);
    }
  }

  .easy-game-player-item {
    .easy-icon-captain-component,
    .easy-icon-libero-component,
    .easy-icon-shirt-number-component {
      pointer-events: none;
      filter: none;
      opacity: 1;
    }
  }

  @media (min-width: $media-sidebars) {
    .easy-game-call-status-component,
    .easy-game-rotation-status-component {
      .unlock-button {
        position: absolute;
        top: var(--app-margin);
        right: var(--app-margin);
      }
    }
  }
}
