.easy-game-call-sidebar-component {
  position: relative;
  box-shadow: var(--box-shadow-hard);
  padding: var(--app-margin);
  border-radius: var(--border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .easy-game-call-status-component {
    .unlock-button {
      position: absolute;
      top: var(--app-margin);
      right: var(--app-margin);
    }
  }

  .easy-game-player-item {
    .easy-icon-captain-component,
    .easy-icon-libero-component {
      pointer-events: none;
    }
  }
}
