.easy-game-change-date-status-component {
  font-size: 0.85rem;
  color: var(--tertiary-color-dark);

  .stroke {
    stroke: var(--tertiary-color-dark);
  }

  .fill {
    fill: var(--tertiary-color-dark);
  }
}
