.easy-game-court-component {
  .wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: calc(50% - 0.5px);
      width: 0;
      height: calc(100% + 1rem);
      border-right: dashed 2px var(--primary-color);
      z-index: 1;
    }
  }

  .court {
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: var(--court-max-width);
    margin: 0 auto;
    border: solid 1px var(--primary-color-medium);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .side {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    .shirt-number {
      position: relative;
      z-index: 1;

      .easy-icon-shirt-number-component {
        background-color: var(--primary-color-medium);
        border: solid 1px var(--primary-color-medium);
      }

      &.is-replaced {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, -100%);
        z-index: 0;

        .easy-sanction-item-component {
          transform: scale(0.5) translate(-100%, 40%);
        }

        .easy-icon-shirt-number-component {
          background-color: var(--danger-color-dark);
        }

        .easy-icon-libero-component {
          transform: scale(0.7) translate(-25%, -25%);
        }
      }
    }

    .easy-icon-captain-component {
      position: absolute;
      bottom: 50%;
      left: calc(50% - 2rem);
      transform: translate(-15%, -50%);
      z-index: 2;
    }

    .easy-icon-libero-component {
      position: absolute;
      bottom: 50%;
      right: calc(50% - 2rem);
      transform: translate(15%, -50%);
      z-index: 2;
    }

    .easy-icon-easy-liga-component {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // opacity: 0.5;
    }

    .easy-sanction-item-component {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 60%);
      z-index: 2;
    }

    [class^='position'] {
      position: relative;
      background: var(--primary-color-light);
      display: grid;
      place-content: center;
      font-size: 2rem;
      font-weight: 700;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color-medium);

        .shirt-number {
          .easy-icon-shirt-number-component {
            background-color: var(--primary-color);
            border: solid 1px var(--primary-color);
          }
        }
      }

      &.serving {
        .shirt-number {
          .easy-icon-shirt-number-component {
            -webkit-text-stroke: 1px var(--text-color);
            color: var(--icon-easy-liga-color);
            font-weight: 900;
            background-color: transparent;
            border: none;
          }
        }

        .easy-icon-easy-liga-component {
          // opacity: 0.65;
        }
      }

      &.is-sanctioned {
        .easy-icon-shirt-number-component {
          background-color: var(--danger-color-light);
          border-color: var(--danger-color-light);
        }

        &:hover {
          background-color: var(--danger-color-lighten);

          .easy-icon-shirt-number-component {
            background-color: var(--danger-color-medium);
            border-color: var(--danger-color-medium);
          }
        }
      }
    }

    &.left {
      grid-template-columns: 55% 45%;
      grid-template-areas:
        'position-5 position-4'
        'position-6 position-3'
        'position-1 position-2';

      .position-1 {
        grid-area: position-1;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-2 {
        grid-area: position-2;
      }
      .position-3 {
        grid-area: position-3;
      }
      .position-4 {
        grid-area: position-4;
      }
      .position-5 {
        grid-area: position-5;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-6 {
        grid-area: position-6;
        border-right: solid 1px var(--primary-color-medium);
      }
    }

    &.right {
      grid-template-columns: 45% 55%;
      grid-template-areas:
        'position-2 position-1'
        'position-3 position-6'
        'position-4 position-5';

      .position-1 {
        grid-area: position-1;
      }
      .position-2 {
        grid-area: position-2;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-3 {
        grid-area: position-3;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-4 {
        grid-area: position-4;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-5 {
        grid-area: position-5;
      }
      .position-6 {
        grid-area: position-6;
      }
    }
  }

  .easy-player-changes-component {
    max-width: var(--court-max-width);
    margin: 0 auto;
  }
}
