.easy-game-court-component {
  .wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: calc(50% - 0.5px);
      width: 0;
      height: calc(100% + 1rem);
      border-right: dashed 2px var(--primary-color);
      z-index: 1;
    }
  }

  .court {
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: var(--court-max-width);
    margin: 0 auto;
    border: solid 1px var(--primary-color-medium);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .side {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    .shirt-number {
      position: relative;
      z-index: 1;

      .easy-icon-shirt-number-component {
        // background-color: var(--primary-color-medium);
        border: solid 1px var(--primary-color);

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--primary-color);
        }
      }

      &.is-replaced {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, -100%);
        z-index: 0;

        .easy-sanction-item-component {
          transform: scale(0.5) translate(-100%, 40%);
        }

        .easy-icon-shirt-number-component {
          &::after {
            background-color: var(--danger-color-dark);
          }
        }

        .easy-icon-libero-component {
          transform: scale(0.7) translate(-25%, -25%);
        }
      }
    }

    .easy-icon-captain-component {
      position: absolute;
      bottom: 50%;
      left: calc(50% - 2rem);
      transform: translate(-15%, -50%);
      z-index: 2;
    }

    .easy-icon-libero-component {
      position: absolute;
      bottom: 50%;
      right: calc(50% - 2rem);
      transform: translate(15%, -50%);
      z-index: 2;
    }

    .easy-icon-easy-liga-component {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      height: 4rem;
    }

    .easy-sanction-item-component {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 60%);
      z-index: 2;
    }

    [class^='position'] {
      position: relative;
      display: grid;
      place-content: center;
      font-size: 2rem;
      font-weight: 700;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        .shirt-number {
          .easy-icon-shirt-number-component {
            // background-color: var(--primary-color);
            border: solid 1px var(--primary-color);

            &::after {
              background-color: var(--primary-color);
            }
          }
        }
      }

      &.serving {
        .shirt-number {
          .easy-icon-shirt-number-component {
            @include textShadow(black, 1);
            // -webkit-text-stroke: 1px var(--text-color);
            color: var(--icon-easy-liga-color) !important;
            font-weight: 900;
            border: none;

            &::after {
              opacity: 0.2;
            }
          }
        }
      }

      &.is-sanctioned {
        .easy-icon-shirt-number-component {
          // background-color: var(--danger-color-light);
          border-color: var(--danger-color-light) !important;

          &::after {
            background-color: var(--danger-color-light) !important;
          }
        }

        &:hover {
          background-color: var(--danger-color-lighten) !important;

          .easy-icon-shirt-number-component {
            // background-color: var(--danger-color-medium);
            border-color: var(--danger-color-medium) !important;

            &::after {
              background-color: var(--danger-color-medium) !important;
            }
          }
        }
      }
    }

    .position-1,
    .position-5,
    .position-6 {
      background-color: var(--primary-color-light);

      &:hover {
        background-color: var(--primary-color-medium);
      }
    }

    &.left {
      grid-template-columns: 55% 45%;
      grid-template-areas:
        'position-5 position-4'
        'position-6 position-3'
        'position-1 position-2';

      .position-1 {
        grid-area: position-1;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-2 {
        grid-area: position-2;
      }
      .position-3 {
        grid-area: position-3;
      }
      .position-4 {
        grid-area: position-4;
      }
      .position-5 {
        grid-area: position-5;
        border-right: solid 1px var(--primary-color-medium);
      }
      .position-6 {
        grid-area: position-6;
        border-right: solid 1px var(--primary-color-medium);
      }

      .position-2,
      .position-3,
      .position-4 {
        background-image: linear-gradient(
          135deg,
          var(--primary-color-medium) 8.33%,
          var(--primary-color-light) 8.33%,
          var(--primary-color-light) 50%,
          var(--primary-color-medium) 50%,
          var(--primary-color-medium) 58.33%,
          var(--primary-color-light) 58.33%,
          var(--primary-color-light) 100%
        );
        background-size: 6.4px 6.4px;

        &:hover {
          background-image: linear-gradient(
            135deg,
            var(--primary-color-light) 8.33%,
            var(--primary-color-medium) 8.33%,
            var(--primary-color-medium) 50%,
            var(--primary-color-light) 50%,
            var(--primary-color-light) 58.33%,
            var(--primary-color-medium) 58.33%,
            var(--primary-color-medium) 100%
          );
        }

        &.is-sanctioned {
          background-image: linear-gradient(
            135deg,
            var(--danger-color-lighten) 8.33%,
            var(--danger-color-lightest) 8.33%,
            var(--danger-color-lightest) 50%,
            var(--danger-color-lighten) 50%,
            var(--danger-color-lighten) 58.33%,
            var(--danger-color-lightest) 58.33%,
            var(--danger-color-lightest) 100%
          );
        }
      }
    }

    &.right {
      grid-template-columns: 45% 55%;
      grid-template-areas:
        'position-2 position-1'
        'position-3 position-6'
        'position-4 position-5';

      .position-1 {
        grid-area: position-1;
      }
      .position-2 {
        grid-area: position-2;
      }
      .position-3 {
        grid-area: position-3;
      }
      .position-4 {
        grid-area: position-4;
      }
      .position-5 {
        grid-area: position-5;
      }
      .position-6 {
        grid-area: position-6;
      }

      .position-2,
      .position-3,
      .position-4 {
        border-right: solid 1px var(--primary-color-medium);
        background-image: linear-gradient(
          45deg,
          var(--primary-color-medium) 8.33%,
          var(--primary-color-light) 8.33%,
          var(--primary-color-light) 50%,
          var(--primary-color-medium) 50%,
          var(--primary-color-medium) 58.33%,
          var(--primary-color-light) 58.33%,
          var(--primary-color-light) 100%
        );
        background-size: 6.4px 6.4px;

        &:hover {
          background-image: linear-gradient(
            45deg,
            var(--primary-color-light) 8.33%,
            var(--primary-color-medium) 8.33%,
            var(--primary-color-medium) 50%,
            var(--primary-color-light) 50%,
            var(--primary-color-light) 58.33%,
            var(--primary-color-medium) 58.33%,
            var(--primary-color-medium) 100%
          );
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .wrapper {
      &:before {
        border-color: var(--primary-color-lightest);
      }
    }

    .court {
      border: solid 1px var(--primary-color-light);
    }

    .side {
      [class^='position'] {
        &.is-sanctioned {
          &:hover {
            background-color: var(--danger-color-darkest) !important;
          }
        }
      }

      .position-1,
      .position-5,
      .position-6 {
        background-color: var(--primary-color-light);

        &:hover {
          background-color: var(--primary-color-lightest);
        }
      }

      &.left {
        .position-1 {
          border-right: solid 1px var(--primary-color-lightest);
        }
        .position-5 {
          border-right: solid 1px var(--primary-color-lightest);
        }
        .position-6 {
          border-right: solid 1px var(--primary-color-lightest);
        }

        .position-2,
        .position-3,
        .position-4 {
          background-image: linear-gradient(
            135deg,
            var(--primary-color-lightest) 8.33%,
            var(--primary-color-light) 8.33%,
            var(--primary-color-light) 50%,
            var(--primary-color-lightest) 50%,
            var(--primary-color-lightest) 58.33%,
            var(--primary-color-light) 58.33%,
            var(--primary-color-light) 100%
          );
          background-size: 6.4px 6.4px;

          &:hover {
            background-image: linear-gradient(
              135deg,
              var(--primary-color-light) 8.33%,
              var(--primary-color-lightest) 8.33%,
              var(--primary-color-lightest) 50%,
              var(--primary-color-light) 50%,
              var(--primary-color-light) 58.33%,
              var(--primary-color-lightest) 58.33%,
              var(--primary-color-lightest) 100%
            );
          }

          &.is-sanctioned {
            background-image: linear-gradient(
              135deg,
              var(--danger-color-darken) 8.33%,
              var(--danger-color-darkest) 8.33%,
              var(--danger-color-darkest) 50%,
              var(--danger-color-darken) 50%,
              var(--danger-color-darken) 58.33%,
              var(--danger-color-darkest) 58.33%,
              var(--danger-color-darkest) 100%
            );
          }
        }
      }

      &.right {
        .position-2,
        .position-3,
        .position-4 {
          border-right: solid 1px var(--primary-color-lightest);
          background-image: linear-gradient(
            45deg,
            var(--primary-color-lightest) 8.33%,
            var(--primary-color-light) 8.33%,
            var(--primary-color-light) 50%,
            var(--primary-color-lightest) 50%,
            var(--primary-color-lightest) 58.33%,
            var(--primary-color-light) 58.33%,
            var(--primary-color-light) 100%
          );
          background-size: 6.4px 6.4px;

          &:hover {
            background-image: linear-gradient(
              45deg,
              var(--primary-color-light) 8.33%,
              var(--primary-color-lightest) 8.33%,
              var(--primary-color-lightest) 50%,
              var(--primary-color-light) 50%,
              var(--primary-color-light) 58.33%,
              var(--primary-color-lightest) 58.33%,
              var(--primary-color-lightest) 100%
            );
          }
        }
      }
    }
  }

  .easy-player-changes-component {
    max-width: var(--court-max-width);
    margin: 0 auto;
  }
}
