.easy-game-status-component {
  display: flex;
  align-items: center;
  font-size: 0.85rem;

  .label {
    margin-left: 0.25rem;
  }

  &.finished {
    color: var(--primary-color);
  }

  &.warmup,
  &.timeout,
  &.resting,
  &.pending {
    color: var(--tertiary-color-dark);

    .stroke {
      stroke: var(--tertiary-color-dark);
    }

    .fill {
      fill: var(--tertiary-color-dark);
    }
  }

  &.playing,
  &.approved {
    color: var(--primary-color);

    .stroke {
      stroke: var(--primary-color);
    }

    .fill {
      fill: var(--primary-color);
    }
  }

  &.denied {
    color: var(--danger-color);

    .stroke {
      stroke: var(--danger-color);
    }

    .fill {
      fill: var(--danger-color);
    }
  }
}
