.easy-referee-game-arbitrate-component {
  .easy-game-status-component {
    position: absolute;
    top: 2rem;
  }

  .easy-game-sidebars-court-component {
    position: relative;
    display: grid;
    gap: var(--app-margin);

    .easy-game-call-sidebar-component {
      height: fit-content;
    }

    .sidebar-wrapper {
      position: absolute;
      transition: all 350ms ease-in-out;

      &.left {
        left: -100%;
      }

      &.right {
        right: -100%;
      }
    }

    .score-court {
      position: relative;
      top: 1rem;
    }
  }

  .easy-game-teams-sets-won-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 8rem;

    .teams-sets-won-team {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: center;
      border-radius: var(--border-radius);

      &:nth-child(2) {
        direction: rtl;
      }
    }

    .team-name {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .sets-count {
      font-size: 1.5rem;
      font-weight: 900;
      background: var(--primary-color-medium);
      background-color: white;
      border: 2px solid var(--primary-color);
      border-radius: 0.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-content: center;
      position: relative;
      bottom: 6rem;
      z-index: 3;
    }
  }

  .easy-game-score-component {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 2;
    margin: 0 auto;
    border: solid 2px var(--primary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;

    .score {
      background: var(--primary-color-medium);
      padding: 1rem;
      font-size: 1.75rem;
      font-weight: 700;
      width: 62px;
      text-align: center;
    }

    .set {
      display: grid;
      place-content: center;
      color: var(--primary-color-dark);
      background: white;
      border-inline: solid 2px var(--primary-color);
      padding-inline: 1.5rem;
      font-size: 1.25rem;
      font-size: 1.75rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  @media (min-width: $min-width-tablet) {
    .easy-game-sidebars-court-component {
      grid-template-columns: 300px 1fr 300px;

      .sidebar-wrapper {
        position: static;
      }
    }

    .easy-game-teams-sets-won-component {
      margin-top: 0;

      .sets-count {
        bottom: 2.5rem;
      }
    }

    .easy-game-score-component {
      top: -35px;
    }
  }
}
