.easy-referee-game-arbitrate-component {
  .easy-game-status-component {
    position: absolute;
    top: 2rem;
  }

  .easy-game-sidebars-court-component {
    position: relative;
    display: grid;
    gap: var(--app-margin);

    .sidebars-navbar {
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      width: 100%;
      max-width: var(--court-max-width);
      margin-inline: auto;
    }

    .sidebar-wrapper {
      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px);
        height: 100svh;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        transition: all 350ms ease-in-out;
        z-index: 1001;
      }

      .sidebar-content {
        max-height: calc(100vh - 77px);
        overflow: auto;
      }

      .easy-game-call-sidebar-component {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: 100%;
        max-width: 450px;
        height: fit-content;
        max-height: calc(
          100vh - var(--container-margin-top) - var(--app-margin)
        );
        background-color: var(--background-color);
        transition: all 350ms ease-in-out;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(100%);
        z-index: 1002;
      }

      &.is-opened {
        &:before {
          opacity: 1;
          pointer-events: all;
        }

        .easy-game-call-sidebar-component {
          transform: translateY(0);
        }
      }
    }

    .score-court {
      position: relative;
      top: 1rem;
    }
  }

  .easy-game-sided-team-names-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;

    .team-name {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;
      font-weight: 500;

      .color-trigger {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        background: var(--primary-color);
        border: solid 1px var(--primary-color-dark);
      }

      &:last-child {
        direction: rtl;
      }
    }
  }

  .easy-game-score-component {
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: solid 2px var(--primary-color);
    border-radius: var(--border-radius);
    display: inline-flex;
    background-color: var(--primary-color-medium);

    .sets-won {
      font-size: 1.5rem;
      font-weight: 900;
      background: var(--primary-color-medium);
      background-color: var(--background-color);
      border: 2px solid var(--primary-color);
      border-radius: 0.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-content: center;
      position: absolute;
      bottom: 3rem;
      z-index: 3;
    }

    .score {
      padding: 1rem;
      font-size: 1.75rem;
      font-weight: 700;
      width: 62px;
      text-align: center;

      &.left {
        .sets-won {
          left: 46px;
        }
      }

      &.right {
        .sets-won {
          right: 46px;
        }
      }
    }

    .set {
      display: grid;
      place-content: center;
      color: var(--primary-color-dark);
      background: var(--background-color);
      border-inline: solid 2px var(--primary-color);
      padding-inline: 1.5rem;
      font-size: 1.25rem;
      font-size: 1.75rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  @media (prefers-color-scheme: dark) {
    .easy-game-score-component {
      background-color: var(--primary-color-dark);

      .set {
        color: var(--primary-color-lightest);
      }
    }
  }

  @media (min-width: $media-sidebars-min) {
    .easy-game-sidebars-court-component {
      grid-template-columns: 330px 1fr 330px;

      .sidebars-navbar {
        display: none;
      }

      .sidebar-wrapper {
        &:before {
          content: none;
        }

        .easy-game-call-sidebar-component {
          position: relative;
          box-shadow: var(--box-shadow-hard);
          padding: var(--app-margin);
          border-radius: var(--border-radius);
          transform: none;
          max-height: none;
          transition: none;
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }
      }

      .easy-dialog-close-button-component {
        display: none;
      }
    }

    .easy-game-sided-team-names-component {
      margin-top: 0;
    }

    .easy-game-score-component {
      top: 0;
    }

    .game-timeout-sanction-actions-component {
      .team-toggle-button {
        display: none;
      }
    }

    &.is-finished {
      .easy-game-sidebars-court-component {
        grid-template-columns: 1fr;
      }
    }
  }
}
