.easy-navbar {
  background: white;
  box-shadow: var(--box-shadow);
  margin: 0;
  position: fixed;
  top: var(--app-margin);
  left: var(--app-margin);
  width: var(--navbar-width);
  border: 0;
  z-index: 1000;
  border-radius: var(--border-radius);

  &__container {
    @extend %container;
    border: none;
    background: white;
  }

  &__logo {
    @apply mr-2;
  }

  &__avatar {
    width: var(--navbar-avatar-size) !important;
    height: var(--navbar-avatar-size) !important;
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }

  .p-menubar-start,
  .p-menubar-end {
    @apply flex;
  }
}
