.easy-navbar {
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  margin: 0;
  position: fixed;
  top: var(--app-margin);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2 * var(--app-margin));
  max-width: var(--main-max-width);
  border: 0;
  z-index: 1000;
  border-radius: var(--border-radius);

  &__container {
    @extend %container;
    max-width: calc(var(--main-max-width) - 2 * var(--easy-main-padding));
    border: none;
    background: var(--background-color);
  }

  &__logo {
    @apply mr-2;
  }

  &__avatar {
    width: var(--navbar-avatar-size) !important;
    height: var(--navbar-avatar-size) !important;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: solid 1px var(--text-color);
  }

  .p-menubar-start,
  .p-menubar-end {
    @apply flex items-center;
  }
}

@media (min-width: $min-width-tablet) {
  .easy-navbar {
    &__container {
      max-width: calc(
        var(--main-max-width) - 2 * var(--easy-main-padding-tablet)
      );
    }
  }
}
