.easy-main {
  @extend %main-height;
  max-width: var(--main-max-width);
  margin-top: var(--container-margin-top);
  margin-inline: auto;
  margin-bottom: calc(var(--footer-height) - var(--app-margin));
  display: grid;
  border-radius: var(--border-radius);

  .easy-container {
    @extend %container;
    height: 100%;
    padding: var(--easy-main-padding);
    background: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  @media (min-width: $min-width-tablet) {
    .easy-container {
      padding-inline: var(--easy-main-padding-tablet);

      &.referee-arbitrate {
        padding-top: 0;
      }
    }
  }

  @media (min-width: $media-sidebars-min) {
    .easy-container,
    .easy-container.referee-arbitrate {
      padding: var(--easy-main-padding-tablet);
    }
  }
}
