.easy-main {
  min-height: calc(100vh - var(--container-margin-top) - 2 * var(--app-margin));
  max-width: var(--main-max-width);
  margin-top: var(--container-margin-top);
  margin-inline: auto;
  margin-bottom: var(--footer-height);
  display: grid;
  background-color: white;
  border-radius: var(--border-radius);
}

.easy-container {
  @extend %container;
  height: 100%;
  padding: var(--easy-main-padding);
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

@media (min-width: $min-width-tablet) {
  .easy-container {
    padding: var(--easy-main-padding-tablet);
  }
}
