.sidebar-left-layout {
  .easy-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--app-margin);
    transition: all 300ms ease-in-out;
  }

  .easy-container {
    padding-top: var(--easy-main-padding-tablet);
  }

  .easy-sidebar {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--easy-main-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: var(--layout-sidebar-width);
    position: absolute;
    z-index: 1;
    height: calc(100svh - var(--container-margin-top) - 2 * var(--app-margin));
    overflow: visible;
    transform: translateX(
      calc(-1 * var(--layout-sidebar-width) - var(--app-margin))
    );
    transition: all 300ms ease-in-out;
  }

  .easy-sidebar-toggle {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    font-size: 1.75rem;
    z-index: 1;

    &.open {
      position: fixed;
      top: var(--app-margin);
      left: calc(2 * var(--app-margin));
      background-color: var(--primary-color);
      color: white;
      transform: translate(calc(var(--layout-sidebar-width)));
    }

    &.close {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &.sidebar-opened {
    .easy-sidebar {
      transform: translateX(0);
      overflow: auto;
    }

    .easy-sidebar-toggle {
      &.open {
        display: none;
      }
    }
  }
}

@media (min-width: $min-width-desktop) {
  .sidebar-left-layout {
    .easy-main {
      display: grid;
      grid-template-columns: var(--layout-sidebar-width) 1fr;
      gap: var(--app-margin);
    }

    .easy-sidebar {
      position: relative;
      transform: none;
      overflow: auto;
      padding: var(--easy-main-padding-tablet);
    }

    .easy-sidebar-toggle {
      display: none;
    }
  }
}
