$media-xs: 450px;
$media-sm: 640px;
$media-md: 768px;
$media-ml: 992px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-2xl: 1536px;

$media-sidebars: 1285px;

$media-mapper: (
  xs: $media-xs,
  sm: $media-sm,
  md: $media-md,
  ml: $media-ml,
  lg: $media-lg,
  xl: $media-xl,
  '2xl': $media-2xl,
  sidebars: $media-sidebars,
);
