html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  margin: var(--app-margin);
  background-color: var(--background-color);
}

pre {
  white-space: pre-wrap;
}

a {
  color: var(--link-color);
}
