html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  margin: var(--app-margin);
  // background-color: var(--background-color);

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    z-index: -1;
  }
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

pre {
  white-space: pre-wrap;
}

a {
  color: var(--link-color);
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-primary,
.background-primary {
  background-color: var(--primary-color);
}

.bg-danger,
.background-danger {
  background-color: var(--danger-color);
}

.bg-success,
.background-success {
  background-color: var(--primary-color);
}

.color-primary,
.text-primary {
  color: var(--primary-color);
}

.color-danger,
.text-danger {
  color: var(--danger-color);
}

.color-success,
.text-success {
  color: var(--primary-color);
}

.is-muted {
  pointer-events: none;
  cursor: default;
  filter: grayscale(1);
}
