html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  margin: var(--app-margin);
  // background-color: var(--foreground-color);

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    z-index: -1;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: var(--background-overlay-opacity);
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }
}

.easy-body {
  &.is-profile-page {
    margin-top: 13.1rem;

    @media (min-width: $media-sm) {
      margin-top: 10.1rem;
    }

    @media (min-width: 530px) {
      margin-top: 10.1rem;
    }

    @media (min-width: $media-md) {
      margin-top: 0;
    }
  }
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

pre {
  white-space: pre-wrap;
}

a {
  color: var(--link-color);
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

input {
  border-color: var(--text-color);
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.is-muted {
  pointer-events: none;
  cursor: default;
  filter: grayscale(1);
}

.font-2xs {
  font-size: var(--font-size-2xs);
}

.text-highlight {
  color: var(--highlight-color);
}

.border-highlight {
  border-color: var(--highlight-color);
}

.is-disabled {
  filter: grayscale(100%);
  pointer-events: none;
}

.is-sticky-action {
  position: sticky;
  bottom: 0;
  background-color: var(--background-color);
  // margin-top: 1.5rem;
  // padding: 3rem 1.5rem 1.5rem;
  margin-top: 1rem;
  padding: 1.5rem;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  margin-inline: calc(0px - var(--easy-main-padding-tablet));
  // background: linear-gradient(
  //   to bottom,
  //   rgba(var(--background-color-rgb), 0) 0%,
  //   rgba(var(--background-color-rgb), 0.75) 25%,
  //   rgba(var(--background-color-rgb), 1) 100%
  // );
  background: linear-gradient(
    to bottom,
    rgba(var(--background-color-rgb), 0) 0%,
    rgba(var(--background-color-rgb), 0.8) 65%,
    rgba(var(--background-color-rgb), 1) 100%
  );
  backdrop-filter: blur(1px);

  &.is-sticky-action__xs {
    justify-content: center;
    @media (min-width: $media-xs) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }

  &.is-sticky-action__sm {
    justify-content: center;
    @media (min-width: $media-sm) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
  &.is-sticky-action__md {
    justify-content: center;
    @media (min-width: $media-md) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
  &.is-sticky-action__ml {
    justify-content: center;
    @media (min-width: $media-ml) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
  &.is-sticky-action__lg {
    justify-content: center;
    @media (min-width: $media-lg) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
  &.is-sticky-action__xl {
    justify-content: center;
    @media (min-width: $media-xl) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
  &.is-sticky-action__2xl {
    justify-content: center;
    @media (min-width: $media-2xl) {
      margin: inherit;
      padding: inherit;
      position: inherit;
      display: inherit;
      background: inherit;
      justify-content: inherit;
      z-index: inherit;
    }
  }
}

.mini-layout {
  .is-sticky-action {
    padding: 1.5rem var(--easy-main-padding-tablet) 1.5rem;
    margin-bottom: calc(0px - var(--easy-main-padding-tablet));
  }
}
