.p-dialog-bottom {
  .p-dialog {
    width: 100vw;
    max-width: 450px;
    margin: 0 !important;

    .p-dialog-header {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      padding-inline: 1.75rem;
      padding-bottom: 0.5rem;
    }

    .p-dialog-content {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }

    .p-dialog-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding-inline: 1.75rem;
      padding-bottom: 2rem;

      button {
        margin: 0;
      }
    }
  }
}

.p-dialog-mask {
  backdrop-filter: blur(3px);
}

.p-button-label {
  font-weight: var(--font-weight);
}

a:-webkit-any-link {
  text-decoration: none;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  background-color: var(--primary-color-light);
  color: var(--text-color);
}

.p-menuitem-link {
  &__active {
    background-color: var(--primary-color-light);
    color: var(--highlight-text-color) !important;
    cursor: default !important;
  }
}

.p-input-icon-left > i,
.p-input-icon-left > svg,
.p-input-icon-right > i,
.p-input-icon-right > svg {
  margin-top: -0.75rem !important;
}

.p-tooltip {
  font-size: 0.8rem;
  transition: none !important;

  * {
    transition: none !important;
  }
}

.p-datepicker {
  &:not(.p-datepicker-inline) {
    width: 90%;
    min-width: auto;
    max-width: 400px;
  }
}

.p-tag-value {
  line-height: 1 !important;
}
