.p-dialog-bottom {
  .p-dialog {
    width: 100vw;
    max-width: var(--dialog-max-width);
    margin: 0 !important;

    .p-dialog-header {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      padding-inline: 1.75rem;
      padding-bottom: 0.5rem;
    }

    .p-dialog-content {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }

    .p-dialog-footer,
    .p-dialog-sticky-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      // padding-inline: 1.75rem;
      // padding-bottom: 2rem;
      padding-block: 1.5rem;

      button {
        margin: 0;
      }

      &:empty {
        display: none;
      }
    }

    .p-dialog-sticky-footer:empty {
      display: none;
    }

    &.has-sticky-footer {
      .p-dialog-content {
        padding-bottom: 0;
      }

      .p-dialog-footer:empty {
        display: none;
      }

      .p-dialog-sticky-footer {
        margin: 1.5rem 0 0;
        padding-inline: 0;

        .easy-form-footer-actions-component {
          display: flex;
          margin: 0;
        }

        &:empty {
          padding-top: 0;
          background-color: var(--background-color);
        }
      }
    }
  }
}

.p-dialog-mask {
  backdrop-filter: blur(3px);
}

.p-button {
  color: var(--primary-color-text);
}

.p-button-label {
  font-weight: var(--font-weight);
}

a:-webkit-any-link {
  text-decoration: none;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content {
  overflow: hidden;
  color: var(--menuitem-highlight-text);
  &:hover {
    background-color: var(--primary-color-lightest);
    color: var(--primary-color-text);
  }
}

.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  background-color: var(--primary-color-lightest);
  color: var(--menuitem-highlight-text);
}

.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  background-color: var(--primary-color-lightest);
  color: var(--menuitem-highlight-text);
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  background-color: var(--primary-color-lightest) !important;
  color: var(--menuitem-highlight-text) !important;
}

.p-menuitem-link {
  &__active,
  &.router-link-active {
    background-color: var(--primary-color-light);
    color: var(--menuitem-highlight-text) !important;
    cursor: default !important;
  }
}

.p-tieredmenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  background-color: unset;
}

.p-tieredmenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  background-color: var(--primary-color-lightest);
  color: var(--menuitem-highlight-text);
}

.p-input-icon-left > i,
.p-input-icon-left > svg,
.p-input-icon-right > i,
.p-input-icon-right > svg {
  margin-top: -0.75rem !important;
}

.p-tooltip {
  font-size: 0.8rem;
  transition: none !important;

  * {
    transition: none !important;
  }
}

.p-datepicker {
  &:not(.p-datepicker-inline) {
    width: 90%;
    min-width: auto;
    max-width: 400px;
  }
}

.p-tag-value {
  line-height: 1 !important;
}

.p-dropdown-panel .p-dropdown-header {
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
}

.p-dialog .p-dialog-footer button.w-full {
  width: 100%;
}

.p-message.p-message-primary {
  background: var(--primary-color-light);
  border: solid var(--primary-color);
  border-width: 0 0 0 6px;
  color: var(--text-color);
}

.p-dialog .p-dialog-header {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .p-datepicker {
    table td {
      &.p-datepicker-today > span {
        background: var(--primary-color-lightest);
        border-color: var(--primary-color-lightest);
      }
      > span {
        &.p-highlight {
          color: var(--primary-color-text) !important;
        }

        &.p-disabled {
          opacity: 0.6;
        }
      }
    }
  }

  .p-datepicker:not(.p-disabled)
    table
    td
    span:not(.p-highlight):not(.p-disabled):hover {
    background: var(--primary-color-light);
  }

  .p-togglebutton.p-button.p-highlight:hover {
    background: var(--primary-color-medium);
  }
  .p-button:enabled:hover {
    background: var(--primary-color-medium);
    border-color: var(--primary-color-medium);
  }
  .p-button:enabled:active {
    background: var(--primary-color-medium);
    border-color: var(--primary-color-medium);
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background-color: unset !important;
    a {
      color: var(--primary-color-medium);
    }
  }

  .p-menubar
    .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
    > .p-menuitem-content {
    background-color: unset !important;
    a {
      color: var(--text-color);
    }
  }

  .p-menubar
    .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background-color: unset !important;
    a {
      color: var(--primary-color-medium);
    }
  }

  .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
    background-color: unset !important;
    a {
      color: var(--primary-color-medium);
    }
  }

  .p-menuitem-link {
    &__active,
    &.router-link-active {
      background-color: unset !important;
      color: var(--primary-color) !important;
    }
  }

  .p-tieredmenu
    .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background-color: unset !important;
    a {
      color: var(--primary-color-medium);
    }
  }

  .p-tieredmenu
    .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
    > .p-menuitem-content {
    background-color: unset !important;
    a {
      color: var(--text-color);

      &:hover {
        color: var(--primary-color-medium);
      }
    }
  }

  .p-message.p-message-info {
    background: #2c1daa;
    border: solid #3033c4;
    border-width: 0 0 0 6px;
    color: #b9b9ea;
  }
  .p-message.p-message-info .p-message-icon {
    color: #b9b9ea;
  }
  .p-message.p-message-info .p-message-close {
    color: #b9b9ea;
  }
  .p-message.p-message-success {
    background: #0d6c4e;
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: #e4f8f0;
  }
  .p-message.p-message-success .p-message-icon {
    color: #e4f8f0;
  }
  .p-message.p-message-success .p-message-close {
    color: #e4f8f0;
  }
  .p-message.p-message-warn {
    background: #8e5d13;
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #fff2e2;
  }
  .p-message.p-message-warn .p-message-icon {
    color: #fff2e2;
  }
  .p-message.p-message-warn .p-message-close {
    color: #fff2e2;
  }
  .p-message.p-message-error {
    background: #ba2d2d;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ffe7e6;
  }
  .p-message.p-message-error .p-message-icon {
    color: #ffe7e6;
  }
  .p-message.p-message-error .p-message-close {
    color: #ffe7e6;
  }
}

.p-chips.w-full .p-chips-multiple-container {
  width: 100%;
  gap: 3px;
}
