:root {
  color-scheme: light;
  --primary-color: #009688;
  --primary-color-rgb: 0, 150, 136;
  --primary-color-medium: #b2dfdb;
  --primary-color-light: #dcf4f2;
  --primary-color-lightest: #eef9f8;
  --primary-color-dark: #00695c;
  --primary-color-darkest: #004d40;
  --primary-color-alpha: rgba(0, 150, 136, 0.2);
  --foreground-color: #f1f1f1;
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --secondary-color: #cce1f7;
  --secondary-color-light: #f4f9fd;
  --secondary-color-dark: #72add5;
  --secondary-color-darkest: #69a8db;
  --tertiary-color-rgb: 253, 195, 155;
  --tertiary-color: #fdc39b;
  --tertiary-color-light: #fff5e9;
  --tertiary-color-medium: #ffd4ab;
  --tertiary-color-dark: #fea95a;
  --tertiary-color-darken: #f68c1f;
  --link-color: #4c78c4;
  --pink-color: #e879f9;
  --blue-color: #3b82f6;
  --yellow-color: #eab308;
  --seagreen-color: #14b8a6;
  --seagreen-color-medium: #4ed7c5;
  --seagreen-color-dark: #0e8c7b;
  --seagreen-color-darkest: #004d40;
  --seagreen-color-light: #aef7f0;
  --seagreen-color-lightest: #e8fffd;
  --seagreen-color-alpha: rgba(20, 184, 166, 0.2);
  --danger-color: #fc3c2e;
  --text-danger: #fc3c2e;
  --text-danger-rgb: 252, 60, 46;
  --text-danger-alpha: rgba(252, 60, 46, 0.1);
  --danger-color-light: #ff9494;
  --danger-color-lighten: #fdcccc;
  --danger-color-lightest: #ffe2e2;
  --danger-color-medium: #fe6f6f;
  --danger-color-dark: #dc3023;
  --danger-color-darkest: #901632;
  --danger-color-darken: #4a0d08;
  // --info-color: #72add5;
  // --info-color-dark: #69a8db;
  // --info-color-light: #badef7;
  // --info-color-lightest: #e8f5ff;
  --info-color: var(--blue-color);
  --info-color-dark: #2b6edc;
  --info-color-light: #80acf2;
  --info-color-lightest: #e4f2ff;
  --icon-easy-liga-color: #ffeb3b;
  --highlight-color: var(--primary-color);
  --highlight-color-alpha: var(--primary-color-alpha);
  --highlight-color-text: var(--primary-color-text);
  --surface-a: #ffffff;
  --surface-b: #f8f9fa;
  --surface-c: #e9ecef;
  --surface-d: #dee2e6;
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --text-color: #2e3135;
  --text-color-invert: #ffffff;
  --text-color-secondary: #b9a7a7;
  --primary-color-text: #ffffff;
  --primary-color-medium-text: #121212;
  --input-border-color: #e0d7d7;
  --font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --font-size: 14px;
  --font-weight: 400;
  --font-size-2xs: 0.5rem;
  --surface-0: #ffffff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #eff3f8;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dfe7ef;
  --surface-hover: #f6f9fc;
  --focus-ring: 0 0 0 0.2rem #fff6f5;
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: #fff6f5;
  --highlight-text-color: var(--primary-color-dark);
  --main-max-width: 1400px;
  --container-max-width: 1400px;
  // --container-max-width: 1110px;
  --app-margin: 8px;
  --navbar-width: calc(var(--main-max-width) - 2 * var(--app-margin));
  --box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-hard: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  --box-shadow-focus: 0 0 0 0.2rem var(--primary-color-medium);
  --container-margin-top: 60px;
  --extra-mini-layout-margin: 65px;
  --footer-height: 84px;
  --navbar-avatar-size: 38px;
  --easy-main-padding: 1rem;
  --easy-main-padding-tablet: 1rem;
  --layout-sidebar-width: 350px;
  --court-max-width: 550px;
  --background-image: url('/images/background.svg');
  --main-min-height: calc(
    100svh - var(--container-margin-top) - 2 * var(--app-margin)
  );
  --background-overlay-opacity: 0;
  --dialog-max-width: 450px;
  --stroke-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black, 0px 1px 0 black, 1px 0px 0 black, 0px -1px 0 black,
    -1px 0px 0 black;

  --shirt-red: #d52127;
  --shirt-red-dark: #8c0000;
  --shirt-orange: #f6851d;
  --shirt-orange-dark: #b95f0a;
  --shirt-yellow: #ffd700;
  --shirt-yellow-dark: #e0b200;
  --shirt-green: #06b251;
  --shirt-green-dark: #015825;
  --shirt-blue: #2357bb;
  --shirt-blue-dark: #0f2f6a;
  --shirt-purple: #733b97;
  --shirt-purple-dark: #4f2664;
  --shirt-pink: #f7a7c0;
  --shirt-pink-dark: #d97a94;
  --shirt-brown: #8b572a;
  --shirt-brown-dark: #5a3a1a;
  --shirt-gray: #8b8b8b;
  --shirt-gray-dark: #5a5a5a;
  --shirt-black: #000000;
  --shirt-white: #ffffff;

  --signature-background: #ffffff;
  --signature-button-background: var(--primary-color-lightest);
  --signature-button-color: var(--primary-color);
  --menuitem-highlight-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --foreground-color: #000000;
    --background-color: #121212;
    --background-color-rgb: 18, 18, 18;
    // --primary-color: #003932;
    // --primary-color-medium: #004840;
    // --primary-color-light: #004d40;
    // --primary-color-lightest: #003932;
    // --primary-color-dark: #002e29;
    // --primary-color-darkest: #00231f;
    --primary-color: var(--seagreen-color);
    --primary-color-medium: var(--seagreen-color-dark);
    --primary-color-light: var(--seagreen-color-darkest);
    --primary-color-lightest: #00342b;
    --primary-color-dark: var(--seagreen-color-light);
    --primary-color-darkest: var(--seagreen-color-lightest);
    --primary-color-alpha: rgba(20, 184, 166, 0.2);

    --info-color: #2369d8;
    --info-color-dark: #1653b6;
    --info-color-light: #0e4399;
    --info-color-lightest: #071d42;

    --text-color: #b9a7a7;
    --text-color-invert: #2e3135;
    --text-color-secondary: #b9a7a7;
    // --primary-color-text: #b9a7a7;
    // --primary-color-text: #ffffff;
    --primary-color-text: var(--background-color);
    --input-border-color: #343030;
    --highlight-color: var(--seagreen-color);
    --highlight-color-alpha: var(--seagreen-color-alpha);
    --highlight-color-text: var(--background-color);
    --background-overlay-opacity: 0.9;

    --box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(150 150 150 / 0.1),
      0 2px 4px -2px rgb(150 150 150 / 0.06);
    --box-shadow-hard: 0 2px 5px 0 rgb(150 150 150 / 0.25);
    --box-shadow-focus: 0 0 0 0.2rem var(--primary-color-medium);

    --signature-background: var(--primary-color-alpha);
    --signature-button-background: var(--primary-color-alpha);
    --signature-button-color: var(--text-color);
    --menuitem-highlight-text: white;
  }
}

@media (min-width: 530px) {
  :root {
    --easy-main-padding-tablet: 4rem;
  }
}

@media (min-width: $media-md) {
  :root {
    --app-margin: 16px;
    --navbar-width: calc(var(--main-max-width) - 2 * var(--app-margin));
    --container-margin-top: calc(52px + var(--app-margin));
    --easy-main-padding: 2rem;
    --easy-main-padding-tablet: 4rem;
    --footer-height: 116px;
  }
}
